@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Montserrat:wght@300;400&display=swap');

:root {
    --dusty-rose: #DCAE96;
    --deep-forest-green: #1B3022;
    --antique-gold: #B38B39;
    --parchment: #F5EFE1;
    --white: #ffffff;
    --header-font: 'Cormorant Garamond', serif;
    --body-font: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: var(--parchment);
    color: var(--deep-forest-green);
}

.page-border{
    border: 1px solid var(--antique-gold);
    margin: 20px;
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
    padding: 20px;

}

h1, h2, h3 {
    font-family: var(--header-font);
    color: var(--deep-forest-green);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2;;
}

p{
    font-family: var(--body-font);
    color: var(--deep-forest-green);
    font-size: 1.1rem;
    line-height: 1.8;
}

.btn-explore{
    display: inline-block;
    white-space: nowrap;
    font-family: var(--body-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--dusty-rose);

    box-shadow: 8px 8px 0 -1px var(--parchment), 8px 8px 0 0px var(--antique-gold);
    color: #ffffff;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;

    position: relative;
    isolation: isolate;
}

.btn-explore:hover{
    background-color: var(--deep-forest-green);
    box-shadow: 8px 8px 0 -1px var(--parchment), 8px 8px 0 0px var(--antique-gold);
    transform: translate(-2px, -2px);
}
.btn-explore:active{
    transform: translate(4px, 4px);
    box-shadow: 8px 8px 0 -1px var(--parchment), 2px 2px 0 0px var(--antique-gold);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 20 5%;
}
.logo img{
    height: 80px;
    width: auto;
}

.navbar a{
    text-decoration: none;
    color: var(--deep-forest-green);
    font-family: var(--body-font);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 30px;
}

.navbar a.active{
    color: var(--antique-gold);
    border-bottom: 1px solid var(--antique-gold);
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 120px);
    padding: 0 10%;
    gap: 50px;
}

.hero-content{
    flex: 1;
}

.gold-line{
    color: var(--antique-gold);
}

.hero-image{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-image img{
    width: 100%;
    height: auto;
    border: 1.5px solid var(--antique-gold);
}

.cta-container{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
}

@media(max-width: 900px){

    .hero-section{
        flex: 1;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
        min-height: auto;
        gap: 20px
    }

    .hero-content{
        width: 100%;
        margin-bottom: 40px;
    }

    .page-border{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 10px;
        border-width: 1px;
        min-height: calc(100vh - 20px);
    }

    .navbar{
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
        padding: 10px 0;
    }

    .navbar a{
        margin: 5px;
        font-size: 0.7rem
    }

    .gold-line{
        border: none;
        border-top: 1px solid var(--antique-gold);
    
    }

}